extends layout.pug

block content
  section.container
    h1.head= title
    article.item
      form.form(method="post", action="/actualizar/" + data._id)
        input(type="hidden" name="_method" value="PUT")
        input(type="hidden", name="_id", value=data._id)
        fieldset
          div
            input(type="text", name="name", value=data.name, require)
          div
            input(type="text", name="twitter", value=data.twitter, require)
          div
            input(type="text", name="country", value=data.country, require)
          div
            input(type="email", name="email", value=data.email, require)
          div
            input.button.add(type="submit", value="Editar")
      a.button.show(href="/") Inicio
