extends layout.pug

block content

  section.container
    h1.header= title
    img(src="responsive.jpg")
    article.item
      div
        a.button.add(href="/agregar") Agregar
      if(data.length)
        table.table
          tr
            th Nombre
            th Twitter
            th País
            th Email
            th
            th
          each contacto in data
            tr
              td #{contacto.name}
              td #{contacto.twitter}
              td #{contacto.country}
              td #{contacto.email}
              td
                a.button.edit(href="/editar/" + contacto.id) Editar
              td
                form(method="post", action="/eliminar/" + contacto.id )
                  input(type="hidden", name="_method", value="DELETE")
                  input.button.delete(type="button", value="Eliminar", onclick="eliminar(this)")
        script.
          function eliminar(input) {
            var deleteOK = confirm('¿Estás seguro de eliminar el registro?');
            return (deleteOK) ? input.parentNode.submit() : false;
      else
        div.error No tienes datos para mostrar :`(
